<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">-->
<!DOCTYPE html>
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>SubCycle's Blog</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="screen" />
    <script type="text/javascript" src="/javascript/custom.js"></script>
    <script type="text/javascript" src="/jquery/jquery.js"></script>

    <!--<link href="/ueditor/themes/default/_css/ueditor.css" type="text/css" rel="stylesheet">-->

    <!--<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>-->
    <!--<script type="text/javascript" charset="utf-8" src="/ueditor/_examples/editor_api.js"></script>-->
    <!--<script type="text/javascript" src="/ueditor/lang/zh-cn/zh-cn.js"></script>-->
    <style type="text/css">
        h1{
            font-family: "微软雅黑";
            font-weight: normal;
        }
    </style>

    <script type="text/javascript" src="/ueditor/third-party/SyntaxHighlighter/shCore.js"></script>
    <link rel="stylesheet" href="/ueditor/third-party/SyntaxHighlighter/shCoreDefault.css" type="text/css" />
    <script>
        SyntaxHighlighter.all() //执行代码高亮
    </script>


</head>
<body>









<div id="logo">
    <h1><a href="#">SubCycle's Blog</a></h1>
    <p><em>
            <%if(success){%>

                <%= success%>

            <%}%>

            <%if(error){%>
                <%= error %>
            <%}%>
    </em></p>
</div>
<hr />
<!-- end #logo -->
<div id="header">
    <div id="menu">
        <ul>
            <li><a href="/">主页</a></li>
            <li><a title="存档" href="/archive">存档</a></li>

            <% if(user){ %>
            <li><a href="/post">发表</a></li>
            <li><a href="/logout">退出</a></li>
            <li><a href="/upload">上传</a></li>
            <li><a href="/u/<%= user.name%>">用户</a></li>
            <% }else{ %>

            <% }%>
            <li><a title="作者" href="/aboutme">作者</a></li>
        </ul>
    </div>
    <!-- end #menu -->

    <div id="search">
        <form method="get" action="">
            <fieldset>
                <input type="text" name="s" id="search-text" size="15" />
                <input type="submit" id="search-submit" value="GO" />
            </fieldset>
        </form>
    </div>
    <!-- end #search -->
</div>
<!-- end #header -->

<div id="page">
    <div id="content">